body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%);	
}

div {
	margin:15px;
}

form {
	text-align:center;
}

button {
	padding:10px;
	margin:10px;
}

.navbar {
	border-radius:20px;
	background-color:lightgray;
}
.navbar-nav {
	color:black;
}


